.conteiner {
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em ;
}

.conteiner_title {
    /* text-shadow: 0.10em 0.10em #9999; */
    text-shadow: 8px 8px 15px black;
    font-size: 5rem;
    
}

.conteiner_phrase {
    text-align: center;
    width: 100%;
    max-width: 40em;
    background-color: rgb(230, 230, 230);
    padding: 1em 2em;
    line-height: 2;
    border-radius: 0.7em;
    font-size: 1.5em;
    text-shadow: 1px 2px 3px black;

}

.conteiner_btn {
    padding: 0.8em 1.2em;
    border-radius: 50%;
    font-size: 1.2rem;
    /* opacity: 0.5; */
    /* transition: opacity 200ms ease;
                transform: 200em ease;
                box-shadow: 200em ease; */

}

.conteiner_btn:hover {
    filter: brightness(-1);
    transition: filter, transform 500ms ease;
    transform: scale(1.2);
    box-shadow: 7px 7px 7px 3px black;
    /* opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 0 0.8 #0005; */
}

@media (max-width: 768px) {
    .conteiner_phrase{
        width: 80%;
        font-size: 1em;
    }
    .conteiner_title {
        /* text-shadow: 0.10em 0.10em #9999; */
        text-shadow: 8px 8px 15px gray;
        font-size: 2.5rem;
        text-align: center;
    }
}


